%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    %span.divider /
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    %span.divider /
  %li
    = link_to 'Push Notifications', settings_path
    %span.divider /
  %li Edit Device

.page-header
  %h1 Edit Device

= render :partial => 'form'