= link_to "Back to push notification settings", settings_path

.text-info
  %h3 Channel: #{@channel.name}
= render :partial => 'push_form'

.text-info
  %h3 Sent pushes
= render :partial => 'messages'